<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret for {{ date }}</title>
</head>
<body>
    <!-- Form to input a new date -->
    <form action="" method="post">
        <label for="date">Enter a date (YYYY-MM-DD):</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Change Date</button>
    </form>

    <h1>Congrats! You found the secret on {{ date }}</h1>
    
    <p style="font-family: sans-serif;"><strong>{{secret_text}}</strong></p>

    <p>xx Example image xx</p>
    <img width="300" src="https://imagedelivery.net/X_BN-JDDL4T5Dab7aNGUKA/529daca9-5a40-478c-c25d-238ac8a9da00/public">

    <footer><a href="https://agilend.net">agilend.net</a></footer>
</body>
</html>