<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeTravelDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to TimeTravelDB</h1>
        <p>TimeTravelDB is your home on the web for going back in time... going back to the pages of long ago. Brought to you by <strong>agilend</strong>, a pioneering startup in the realm of AI based in the San Francisco Bay Area, TimeTravelDB stands as a testament to the innovative spirit of the digital age.</p>
        <p>Under the leadership of Josh Stroud, CEO & Technical Founder, agilend is setting new benchmarks in AI. Josh's vision for TimeTravelDB is to create a portal that not only serves as a gateway to the past but also demonstrates the potential of AI to transform our understanding of history.</p>
        <p>For inquiries or to learn more about TimeTravelDB, visit <a href="http://agilend.net">agilend.net</a>.</p>
        <a href="/date">Go to Date Changer</a>
    </div>
</body>
</html>
